# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Django Static Cache
staticfiles/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db